*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boxes-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#left-container, #right-container{
    width: 300px;
    min-height: 445px;
    border: 2px solid;
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: 100px;
    height: 100px;
    border: 2px solid;
    flex-basis: calc(50% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
  
}

.blue{
    background-color: rgb(40, 40, 104);
}

.red{
    background-color: rgb(134, 6, 6);
}

.green{
    background-color: green;
}

.yellow{
    background-color: rgb(235, 235, 8);
}
